In [2]:
import requests
import pandas as pd 

url = 'https://www.smartfarmkorea.net/Agree_WS/webservices/DataMartItemRestService/getEnvInfoDataList/d5b617235d814dfa95a59384074f334e/PFS_0000001_01/79/080300/20150902/20161231'
response = requests.get(url)
data = response.json()
df = pd.DataFrame(data)
print(df)

     statusCode statusMessage         fcltyId  crpsnSn itemCode itemCodeNm  \
0            00   NORMAL_CODE  PFS_0000001_01       79   080300        토마토
1          None          None  PFS_0000001_01       79   080300        토마토
2          None          None  PFS_0000001_01       79   080300        토마토
3          None          None  PFS_0000001_01       79   080300        토마토
4          None          None  PFS_0000001_01       79   080300        토마토
...         ...           ...             ...      ...      ...        ...
7911       None          None  PFS_0000001_01       79   080300        토마토
7912       None          None  PFS_0000001_01       79   080300        토마토
7913       None          None  PFS_0000001_01       79   080300        토마토
7914       None          None  PFS_0000001_01       79   080300        토마토
7915       None          None  PFS_0000001_01       79   080300        토마토

                 measDate fatrCode fatrCodeNm  senVal
0     2015-12-16 12:00:00       CI      내부CO2   410.0
1     2015-12-16 14:00:00       CI      내부CO2   411.0
2     2015-12-16 15:00:00       CI      내부CO2   400.0
3     2015-12-16 16:00:00       CI      내부CO2   396.0
4     2015-12-16 18:00:00       CI      내부CO2   438.0
...                   ...      ...        ...     ...
7911  2016-12-31 21:00:00       CI      내부CO2   509.0
7912  2016-12-31 22:00:00       CI      내부CO2   522.0
7913  2016-12-31 23:00:00       CI      내부CO2   519.0
7914  2016-12-31 23:00:00       HI       내부습도    88.0
7915  2016-12-31 23:00:00       TI       내부온도     9.0

[7916 rows x 10 columns]

In [17]:
df = df.drop(columns=['statusCode', 'statusMessage', 'fcltyId', 'crpsnSn', 'itemCode', 'itemCodeNm'])
print(df)

                 measDate fatrCode fatrCodeNm  senVal
0     2015-12-16 12:00:00       CI      내부CO2   410.0
1     2015-12-16 14:00:00       CI      내부CO2   411.0
2     2015-12-16 15:00:00       CI      내부CO2   400.0
3     2015-12-16 16:00:00       CI      내부CO2   396.0
4     2015-12-16 18:00:00       CI      내부CO2   438.0
...                   ...      ...        ...     ...
7911  2016-12-31 21:00:00       CI      내부CO2   509.0
7912  2016-12-31 22:00:00       CI      내부CO2   522.0
7913  2016-12-31 23:00:00       CI      내부CO2   519.0
7914  2016-12-31 23:00:00       HI       내부습도    88.0
7915  2016-12-31 23:00:00       TI       내부온도     9.0

[7916 rows x 4 columns]

In [18]:
df_pivot = df.pivot_table(index='measDate', columns='fatrCodeNm', values='senVal').reset_index()
df_pivot.head()

fatrCodeNm             measDate  내부CO2  내부습도  내부온도
0           2015-12-16 12:00:00  410.0   NaN   NaN
1           2015-12-16 14:00:00  411.0   NaN   NaN
2           2015-12-16 15:00:00  400.0   NaN   NaN
3           2015-12-16 16:00:00  396.0   NaN   NaN
4           2015-12-16 18:00:00  438.0   NaN   NaN

In [19]:
column_names = df_pivot.columns
column_names

Index(['measDate', '내부CO2', '내부습도', '내부온도'], dtype='object', name='fatrCodeNm')

In [22]:
df.fillna(0, inplace=True)
df2=df

In [25]:
csv_filename = 'data2.csv'
df_pivot.to_csv(csv_filename, index=False)